#headerButton {
    background-color: white;
}

#contentBackground {
    background-color: #F4F7F9;
}

#footerButton {
    background-color: #31429B;
    color: white
}

#menu {
    background-color: #31429B;
}

#buttonMoreFilters {
    background-color: white
}